.container {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container header {
  margin-bottom: 2.5rem;
}

.container header h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.875rem;
  color: #2E384D;
}

.container main .leaderboardTableTitle {
  display: grid;
  grid-template-columns: 0.7fr 2.8fr 1fr 1fr;

  margin-bottom: 1.5rem;
}

@media(max-width: 720px) {
  .container {
    padding: 2.5rem 1rem;
  }

  .container main .leaderboardTableTitle {
    display: none;
  }
}
